/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */

.bg {
    background-image: url('assets/chaabiback.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;  /* Prevents the image from repeating */
  height: 100vh;  /* Adjust if necessary */
}
.chaabilld{
    height: 180px;
    width: 250px;
}
.bg-glass {
    background-color: rgba(255, 255, 255, 0.2); /* Couleur de fond semi-transparente */
    backdrop-filter: blur(10px); /* Effet de flou de fond */
    border-radius: 10px; /* Arrondir les bords */
    padding: 20px; /* Espacement interne */
}
.search-container {
    display: flex;
    justify-content: flex-end;  /* Aligns the search box to the right */
    margin-bottom: 10px;         /* Adds some space below the search box */
  }
  
  .search-input {
    padding: 8px;
    width: 200px;               /* Adjust the width as needed */
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  .pagination-control {
    margin-top: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  
  .pagination-control select {
    margin-left: 10px;
    padding: 5px;
  }
  